<main class="about-section py-5">
  <div class="container text-center">
    <h1>About Me</h1>
    <img src="/images/heroImage1.png" alt="Your Photo" class="rounded-circle mb-4" style="width: 150px; height: 150px;">

    <p class="lead">
      Aspiring backend and web developer with a keen interest in machine learning. Currently studying Software Engineering at Islamic University of Technology. Passionate about building efficient, scalable solutions and eager to collaborate on innovative projects that push technological boundaries.
    </p>

    <h2>Technical Skills</h2>

    <h3 class="text-left">Programming Languages</h3>
    <div class="row text-left">
      <div class="col-md-4">
        <img src="/images/python.png" alt="Python" class="img-fluid mb-2">
        <p>Python</p>
      </div>
      <div class="col-md-4">
        <img src="/images/js.png" alt="JavaScript" class="img-fluid mb-2">
        <p>JavaScript</p>
      </div>
      <div class="col-md-4">
        <img src="/images/java.png" alt="Java" class="img-fluid mb-2">
        <p>Java</p>
      </div>
      <div class="col-md-4">
        <img src="/images/ruby.jpeg" alt="Ruby" class="img-fluid mb-2">
        <p>Ruby</p>
      </div>
    </div>

    <h3 class="text-left">Frameworks</h3>
    <div class="row text-left">
      <div class="col-md-4">
        <img src="/images/physics.png" alt="React" class="img-fluid mb-2">
        <p>React</p>
      </div>
      <div class="col-md-4">
        <img src="/images/express.png" alt="Express JS" class="img-fluid mb-2">
        <p>Express JS</p>
      </div>
      <div class="col-md-4">
        <img src="/images/flutter.jpg" alt="Flutter" class="img-fluid mb-2">
        <p>Flutter</p>
      </div>
      <div class="col-md-4">
        <img src="/images/fastAPI.png" alt="FastAPI" class="img-fluid mb-2">
        <p>FastAPI</p>
      </div>     <div class="col-md-4">
        <img src="/images/rails.png" alt="RAILS" class="img-fluid mb-2">
        <p>Rails</p>
      </div>
    </div>

    <h2>My Resume</h2>
    <p class="lead">
      You can download my resume by clicking the link below.
    </p>
    <a href="/CV.pdf" class="button" download>Download Resume</a>
  </div>
</main>
