<main class="contact-section py-5">
  <div class="container text-center">
    <h1>Contact Me</h1>
    <p class="lead">You can reach me through the following platforms:</p>
    <div class="row justify-content-center">
      <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
        <a href="mailto:adebaislam@iut-dhaka.edu" target="_blank">
          <img src="/images/mail.png" alt="Email" class="img-fluid mb-2">
          <p>Email</p>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
        <a href="https://www.facebook.com/adeeebaa" target="_blank">
          <img src="/images/facebook.png" alt="Facebook" class="img-fluid mb-2">
          <p>Facebook</p>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
        <a href="https://github.com/adeebaah" target="_blank">
          <img src="/images/github.png" alt="GitHub" class="img-fluid mb-2">
          <p>GitHub</p>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 mb-3">
        <a href="https://www.linkedin.com/in/adeba-islam-ab8976273/" target="_blank">
          <img src="/images/linkedin(1).png" alt="LinkedIn" class="img-fluid mb-2">
          <p>LinkedIn</p>
        </a>
      </div>
    </div>
  </div>
</main>
