<main class="sub-main-section py-5">
  <div class="container text-center">
    <h1>My Best Work</h1>
    <img src="/images/whipup.png" alt="Best Work" class="img-fluid portfolio-img mb-4">
    <div class="card-body">
      <h5 class="card-title">Whip Up</h5>
      <p class="card-text">This is a recipe sharing mobile app</p>
      <a href="https://github.com/adeebaah/whip_up" class="button">View Project</a>
    </div>
  </div>
</main>

<section class="supporting-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">My Projects</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/whipup.png" class="card-img-top portfolio-img" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Whip Up</h5>
            <p class="card-text">This is a recipe sharing mobile app</p>
            <a href="https://github.com/adeebaah/whip_up" class="button">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/thrift.png" class="card-img-top portfolio-img" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Thrift Basket</h5>
            <p class="card-text">E-commerce based clothing website</p>
            <a href="https://github.com/adeebaah/thrift-basket" class="button">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="/images/planify.png" class="card-img-top portfolio-img" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Planify</h5>
            <p class="card-text">This is a TO-DO web application</p>
            <a href="https://github.com/adeebaah/SWE_4538_PLANIFY" class="button">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
